.testimonials{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
}
.testimonials h1{
    font-size: 32px;
    padding-top: 50px;
}
.testimonials p{
    width:100%;
    font-size: 14px;
    margin-bottom: 1%;
    font-weight: 300;
    color: gray;
    text-align: center;
    padding-top: 10px;
     
}

.testimonial-col{
    position: relative;
    flex-basis: 45%;
    background: #fff3f3;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding-top: 60px;
    margin-top: 3%;
    box-sizing: border-box;
}
.testimonial-col img{
    box-sizing: border-box;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 3%;  
    position: absolute;
    margin: auto;
    bottom: 80;
    left: 0;
    right: 0;
    top: 10px;    
}
.tst .fa{
    color: rgb(255, 87, 45);
}